<!DOCTYPE html>
<html lang="en">
<head>
    <title>管理平台</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="author" content="<wanghaiyang@bootcss.com>">

    <link rel="stylesheet" type="text/css" href="/stylesheets/nav_top.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/map/map_home.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/zTreeStyle/metro.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/easyui.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/icon.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-table.css">
    <style type="text/css">

        body{
            font-size: 16px;
            font-family: "微软雅黑";
        }
        .icon_box_nav{
            content: "\f104";
            width: 20px;
            height: 20px;
            float: left;
            padding-left: 15px;
            padding-top: 2px;
        }

        p {
            margin: 0 0 0px;
        }

        .input-group{
            width: 100%;
        }
        h3{
            margin: 0;
            padding: 0;
        }

        .navbar{
            margin-bottom: 10px;
        }
        .user-panel{
            background-color: #06afe6;

        }
        .navbar-default{
            margin-top: 2px;
        }

        .tabs{
            background-color: #06afe6;
        }
        .tabs-header, .tabs-tool{
            background-color: #eee;
        }

        .panel-body{
            background-color:#fff;
        }
        .tabs-header .tabs-pill li.tabs-selected a.tabs-inner{
            background-color: #eeeeee;
        }

        .tabs li.tabs-selected a.tabs-inner{
            background-color: #0099d5;

        }
        .tabs li a.tabs-inner{
            background-color: #0099d5;
        }
        .panel-body{
            color: #000000;
        }
        .tabs li.tabs-selected a.tabs-inner:hover{
            background-color: #0099d5;
        }
        .tabs li a.tabs-close{
            background: url(images/tabs_icons.png) no-repeat -34px center;
        }
        .tabs li a.tabs-close {
            width: 14px;
            right: 5px;
            opacity: 1.0;

        }
        .tabs-panels{
            border:0px;
        }
        .tabs-header{
            border: 0px;
            background: #fafafa none repeat scroll 0 0
        }
        .tabs{
            border: 0px;
        }
        .tabs li a.tabs-inner{
            color: #fff;
            background-color: #06afe6;
            background: -webkit-linear-gradient(top,#06afe6 0,#06afe6 100%);
            background: -moz-linear-gradient(top,#06afe6 0,#06afe6 100%);
            background: -o-linear-gradient(top,#06afe6 0,#06afe6 100%);
            background: linear-gradient(to bottom,#06afe6 0,#06afe6 100%);
            background-repeat: repeat-x;

        }
        .tabs li a.tabs-inner{
            border: 0px;
            -moz-border-radius: 0px 0px 0 0;
            -webkit-border-radius: 0px 0px 0 0;
            border-radius: 0px 0px 0 0;
        }
        .tabs li a.tabs-inner:hover {
            color: #fff;
            background-color: #06afe6;
            filter: none;
            border: 0px;
        }
        .tabs li.tabs-selected a.tabs-inner {
            background: #0099d5 none repeat scroll 0 0;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 3px solid #4c8dee;
            color: #fff;
            filter: none;
        }
        .tabs-p-tool a:hover, .tabs li a:hover.tabs-close, .tabs-scroller-over{
            background-color: #06afe6;
            color: #fff;

        }
        .panel-body {
            padding: 8px 10px 10px 10px;
        }


        p {
            margin: 0 0 0px;
        }

        .navbar-static-side ul li a:focus{
            color: #FFF;
            background-color: #f4f4f4;
        }
        .navbar-static-side ul li a:hover{



        }
        .navbar-static-side ul li .nav-second-level li:hover a{
            color:#777;
        }
        #sidebar{
            background-color: #fff;
        }
        .ztree{
            float: left;
        }
        .ztree{
            padding:0;
        }
        .ztree *{
            font-size: 14px;
        }
        .modal-header{
            background-color: #03ACE3;
            color: #fff;
            height: 40px;
            border-top-left-radius:6px;
            border-top-right-radius:6px;
        }
        .modal-title{
            line-height: 10px;
            font-size: 16px;
        }
        .close{
            color: #fff;
            opacity: .9;
            line-height: 0.6;
        }
        .btn-primary {
            background-color: #06afe6;
            border-color: #06afe6;
        }
        .modal-footer{
        }
        @media (min-width: 768px) {
            .modal-dialog {
                width: 500px;
                margin: 30px auto;
            }
        }
        .ztree li span.button.noline_close{
            background-position: -126px -84px;
        }
        .ztree li span.button.noline_open {
            background-position: -105px -84px;
        }

        .button_width{
            width: 90px;
        }





    </style>


</head>
<body>

<div class="wrapper">

    <div class="navbar navbar-duomi navbar-static-top" role="navigation" >
        <div class="top_box_l">
            <div class="top_logo">
                <img  src="images/logo_user.png"/>
                <span></span>
            </div>
            <div class="top_line">
            </div>
      <span class="nav_size">
       地图
      </span>
        </div>
        <div class="txt_r">
            <img src="images/admin.png"/>
            <b>您好：</b><span id="user_name" class="user_name">1111</span>
            <!--<a href="javascript:void(0);" id="jq_index_update_pwd">修改密码</a>-->
            <a href="javascript:void(0);" id="jq_index_login_out" onclick="window.location.href='/admin_logout'">退出</a>
        </div>






    </div><!-- #EndLibraryItem -->
    <div class="main_l">
        <nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse">
                <ul id="side-menu-l" class="nav">
                    <li class="user-panel">
                        <div class="thumb">
                            <span>功能导航</span>

                        </div>

                        <div class="clearfix"></div>
                    </li>
                    <!--左侧菜单-->
                    <!-- <li id="lpt" runat="server" class="active">-->
                    <!--<li id="personnel" runat="server" class="nav_li_box" style="margin-top: 10px;  border-top: 1px solid #dddddd;">-->

                    <!--<a href="javascript:void(0);" onclick="addTab('人员管理','/setting')">-->
                    <!--<i class="fa fa-list fa-gears">-->

                    <!--</i><span class="menu-title">人员管理</span>-->
                    <!--<span class="icon_box_nav"><img src="images/setting.png"></span>-->
                    <!--</a>-->
                    <!--&lt;!&ndash;<ul id="upt" class="nav nav-second-level" style="display: none;">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li id="editor_r">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="javascript:void(0)" onclick="addTab('待定...','')">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="fa fa fa-rebel">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="icon-bg bg-orange"></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</i><span class="menu-title_two">待定...</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--</li>-->

                    <!--<li id="hear" runat="server" class="nav_li_box">-->
                    <!--<a href="javascript:void(0);" onclick="addTab('审理案件','/case_examine/case_examine_get')">-->
                    <!--<i class="fa fa-list fa-database">-->
                    <!--<div class="icon-bg bg-orange"></div>-->
                    <!--</i><span class="menu-title">审理案件</span>-->
                    <!--<span class="icon_box_nav"><img src="images/review.png"></span>-->
                    <!--</a>-->
                    <!--&lt;!&ndash;<ul id="usy" class="nav nav-second-level" style="display: none;"  >&ndash;&gt;-->
                    <!--&lt;!&ndash;<li id="articles_editor_r">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="javascript:void(0)">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="fa fa fa-list-alt ">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="icon-bg bg-orange"></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</i><span class="menu-title_two">审件</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->

                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--</li>-->


                    <!--<li id="see" runat="server"  class="nav_li_box">-->
                    <!--<a href="javascript:void(0);"  onclick="addTab('查看案件','see')">-->
                    <!--<i class="fa fa-list fa-database">-->
                    <!--<div class="icon-bg bg-orange"></div>-->
                    <!--</i><span class="menu-title">查看案件</span>-->
                    <!--<span class="icon_box_nav"><img src="images/see.png"></span>-->
                    <!--</a>-->
                    <!--&lt;!&ndash;<ul id="usy" class="nav nav-second-level" style="display: none;">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li  id="picture_r">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="javascript:void(0)">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="fa fa fa-list-alt ">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="icon-bg bg-orange"></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</i><span class="menu-title_two">回执</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--</li>-->



                    <!--<li id="record" runat="server"  class="nav_li_box">-->
                    <!--<a href="javascript:void(0);" onclick="addTab('安全记录','/case_examine/case_examine_safe')">-->
                    <!--<i class="fa fa-list fa-database">-->
                    <!--<div class="icon-bg bg-orange"></div>-->
                    <!--</i><span class="menu-title">安全记录</span>-->
                    <!--<span class="icon_box_nav"><img src="images/journal.png"></span>-->
                    <!--</a>-->
                    <!--&lt;!&ndash;<ul id="usy" class="nav nav-second-level" style="display: none;">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li  id="picture_r">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="javascript:void(0)" >&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="fa fa fa-list-alt ">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="icon-bg bg-orange"></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</i><span class="menu-title_two">安全记录</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--</li>-->


                </ul>
            </div>
        </nav>








    </div><!-- #EndLibraryItem -->




    <div class="main_l">

        <div class="nav_top">
            <p>功能导航</p>
        </div>

        <div class="nav_add_staff" >

            <p onclick="addTab('学校管理','/map_school_administration')"><img  class="nav_classification"/>学校管理</p>
        </div>




        <div class="nav_add_info" >
            <p onclick="addTab('订购信息','/map_order_info')"><img  class="nav_classification"/>订购信息</p><a href="#" id="nav_add_class"></a>

        </div>





    </div>








    <div class="main">

        <!--<div id="defaultBlock" style="position: relative; padding: 0; background: #f0f2f5">-->
        <!--<iframe id="main" name="main" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" onload="this.height=1000;"></iframe>-->
        <!--</div>-->


        <div id="tt" class="easyui-tabs" style="width:100%;">
            <div title="首　页">



            </div>


        </div>

    </div><!----END--->

</div>


<!-- Moda1 -->
<div class="modal fade" id="modal_user_name" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">

                <form id="form" class="form-horizontal" method = 'post' role="form"  onsubmit="return checkUser()" >
                    <div class="input-group">
                        <span class="input-group-addon form_title">用户名</span>
                        <input id="username"  disabled="disabled" name="input_name" type="text" class="form-control" placeholder="用户名确定后不可修改">
                    </div>
                    <!--<p class="annotation">注：请输入字母或者数字</p>-->
                    </br>
                    <div class="input-group">
                        <span class="input-group-addon form_title">旧密码</span>
                        <input id="old_password" name="old_password" type="text" class="form-control" placeholder="请输入旧密码">
                    </div>
                    <!--<p class="annotation">注：最少输入6位密码</p>-->
                    </br>

                    <div class="input-group">
                        <span class="input-group-addon form_title">新密码</span>
                        <input id="new_password" name="new_password" type="text" class="form-control" placeholder="请输入新密码">

                    </div>

                    </br>
                    <div class="input-group">
                        <span class="input-group-addon form_title">确认新密码</span>
                        <input id="repeat_password" name="input_name" type="text"  class="form-control" placeholder="请再一次输入新密码">
                    </div>

                    <!--<div class="form-group">-->
                    <!--<div class="col-sm-offset-2 col-sm-10">-->
                    <!--<button type="submit" class="btn btn-default">修改密码</button>-->
                    <!--</div>-->
                    <!--</div>-->

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button_width" data-dismiss="modal">取消</button>
                <button  type="submit" class="btn btn-primary button_width">提交</button>
            </div>
        </div>

    </div>
</div>
</div>














<!--删除部门ID-->
<input type="hidden" id="delete_id_department"/>
<!--删除部门名字-->
<input type="hidden" id="delete_name_department"/>
<!--删除班级ID-->
<input type="hidden" id="delete_id_class"/>
<!--删除班级名字-->
<input type="hidden" id="delete_name_class"/>
<script src="/javascripts/jquery-2.1.1-youtu.js"></script>
<script src="/javascripts/jquery.easyui.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/bootstrap-table.js"></script>
<script src="/javascripts/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="/javascripts/area.js"></script>

<script type="text/javascript">
    //  $("#upt ") .css("display", "block")
    $("#upt ") .css("display", "none")
    ToUrl("/html/manage/admin/agent.html");


    function iFrameHeight() {

        var iframe = document.getElementById("main");
        try {
            var bHeight = iframe.contentWindow.document.body.scrollHeight,
                    dHeight = iframe.contentWindow.document.documentElement.scrollHeight,
                    height = Math.max(bHeight, dHeight);
            iframe.height = 600;
            iframe.width = "100%";

        } catch (ex) { }
    }
    function ToUrl(url) {


        /*if (url == 'index.aspx') {
         $("#bodyPage").css("min-width", 1820 + 'px');
         }
         else {
         $("#bodyPage").css("min-width", 1350 + 'px');
         }
         */            $("#main").attr("src", url);
        setInterval("iFrameHeight()", 50);
    }
    $('#toggle1').click(function(){
        $(this).slideToggle();
        $('#toggle_img').attr('src',$('#toggle_img').attr('src')=='images/nav_bottom.png'?'images/nav_top.png':'images/nav_bottom.png');

    });
    $('#toggle2').click(function(){
        $(this).slideToggle();
        $('#toggle_img2').attr('src',$('#toggle_img2').attr('src')=='images/nav_bottom.png'?'images/nav_top.png':'images/nav_bottom.png');

    });



    $(function () {

        $("#user_name").html();

        $("#form").attr("action","/users/"+user_name+"/password");


        $(".tabs").css('height','38px');
        $(".tabs-header").css('width','100%');
        $(".tabs-inner").css('height','38px');
        $(".panel-body-noborder").css('height','700px');
        $(".panel-body-noborder").eq(1).css('height','700px');
        $("#sidebar>div>ul>li:gt(0)>a").click(function () {
            var groupLi = $(this).parent();
            var groupLiALL = $("#sidebar>div>ul>li:gt(0)");
            if (!groupLi.hasClass("active")) {
                var oldShowGroupUL = groupLi.parent().children("li.active")
                groupLi.toggleClass("active");

                if (groupLiALL.index(groupLi) > groupLiALL.index(oldShowGroupUL)) {
                    groupLi.children("ul").css("display", "block");
                    oldShowGroupUL.removeClass("active").children("ul").slideUp("normal");
                }
                else {
                    groupLi.children("ul").slideDown("normal");
                    oldShowGroupUL.removeClass("active").children("ul").css("display", "none");
                }
            }
        });


    });


</script>


<script>
    $(function(){
        var username=$.intercept_url("username")
        alert(decodeURI(username));
        $("#user_name").html(decodeURI(username));
        $("#username").val(decodeURI(username));
        var user_name=decodeURI(username);
        alert(user_name);
        var wb_number=$.intercept_url("school_id")

        $("#wb_number").html(wb_number);

        $("#form").attr("action","/users/"+user_name+"/password");

    })

    function addTab(title, url){
        var window_num=$(".tabs-inner").size();
        if(window_num==10){
            //alert("栏目窗口最多打开10个");
            event.PReventDefault();
        }
        if ($('#tt').tabs('exists', title)){
            $('#tt').tabs('select', title);

        } else {
            var content = '<iframe scrolling="auto" frameborder="0"  src="'+url+'" style="width:100%;height:750px;" name="abc" id="abc"></iframe>';
            //document.frames("url").location.reload()
            //document.frames("abc").location.reload();
            // document.getElementById("abc").src =+url;
            //  $('#abc').attr('src', $('#abc').attr('src',url));

            // window.opener.location.reload();
            $('#tt').tabs('add',{
                title:title,
                content:content,
                closable:true,
                height:800,
            });
        }
    }


    function removeAll(title){
        $(".tabs li").each(function(index, obj) {
            //获取所有可关闭的选项卡
            //  var tab = $(".tabs-closable", this).text();
            $(".easyui-tabs").tabs('close',title);
        });

    }


    function update(title,url) {
        alert("11111");
                var tab = $('#tt').tabs('getSelected');  // get selected panel
        $('#tt').tabs('update', {
            tab: tab,
            options: {
                title: title,
                content:'<iframe scrolling="auto" frameborder="0"  src="'+url+'" style="width:100%;height:750px;" name="abc" id="abc"></iframe>'
            }
        });
    }




    $("#user_name").on('click',function(){

        $('#modal_user_name').modal('show');

    })


    function  checkUser(){

        var old_password = $("#old_password").val();
        if (old_password == "" || old_password == null||old_password.length==0) {
            alert("旧密码不能为空");
            return false;
        }
        else if (old_password.length < 6) {
            alert("密码最少6位");
            return false;
        }
        else if (letterNum(old_password) == false) {
            // alert("账号不能为汉字");
            return false;
        }

        var new_password = $("#new_password").val();
        if (new_password == "" || new_password == null||new_password.length==0) {
            alert("新密码不能为空");
            return false;
        }
        else if (new_password.length < 6) {
            alert("新密码最少6位");
            return false;
        }

        else if (letterNum(new_password) == false) {
            //alert("密码不能为汉字");
            return false;
        }

        var repeat_password=$("#repeat_password").val();
        if(new_password!=repeat_password){
            alert("输入密码不一致");
            return false;
        }

        location.href= "/login";
    }

    function  checkUser(){

        var old_password = $("#old_password").val();
        if (old_password == "" || old_password == null||old_password.length==0) {
            alert("旧密码不能为空");
            return false;
        }
        else if (old_password.length < 6) {
            alert("密码最少6位");
            return false;
        }
        else if ($.num_abc(old_password) == false) {
            // alert("账号不能为汉字");
            return false;
        }

        var new_password = $("#new_password").val();
        if (new_password == "" || new_password == null||new_password.length==0) {
            alert("新密码不能为空");
            return false;
        }
        else if (new_password.length < 6) {
            alert("新密码最少6位");
            return false;
        }

        else if ($.num_abc(new_password) == false) {
            //alert("密码不能为汉字");
            return false;
        }

        var repeat_password=$("#repeat_password").val();
        if(new_password!=repeat_password){
            alert("输入密码不一致");
            return false;
        }

        location.href= "/login";
    }

</script>






</body>
</html>