<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>编辑</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-table.css"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/easyui.css">
  <script type="text/javascript" src="/javascripts/jquery-2.1.1-youtu.js"></script>

  <script type="text/javascript" src="/javascripts/jquery.easyui.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap-table.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap-table-zh-CN.js"></script>

  <script type="text/javascript" src="/javascripts/china_area.js"></script>
  <style type="text/css">
    .main{
      margin:0 auto 0 auto;

    }
    .button_top{
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .class_box_l{
      margin: 0 auto 0 auto;
      height: 100px;
      line-height: 34px;

    }
    .class_box_l b{
      width: 100%;
      float: left;
      font-size: 18px;
      text-align: center;
      display: block;
      margin: 0 auto 0 auto;

    }
    .class_box_center{
      width: 100%;
      margin: 0 auto 0 auto;
      height: 100%;
    }
    .class_box_l span{
      float: left;
      font-size: 16px;
      font-weight: bold;
      margin-left: 60px;


    }
    .class_box_l p{
      float: left;
      font-size: 16px;
    }
    .relatives_example{
      width: 100%;
      color: red;
    }
    .kong{

      text-align: center;
      margin-left: 40px;
    }

    .panel-body {
      padding: 5px 10px 10px 10px;
    }
    .magnifier_img{
      padding-bottom: 3px;
      margin-right: 7px;

    }
    .query_button{
      width: 140px;
      float: right;
      margin-right: 5px;
    }
    .query_top_box{
      width: 100%;
      height: 130px;
      border: 1px solid #dddddd;
      padding-top: 20px;;
    }

    .col-md-10{
      padding-left: 0px;
    }
    body{
      font-size: 16px;
      font-family: "微软雅黑";
    }
    .query_column{
      margin-top: 8px;;
    }
    .input-group-addon:last-child {
      border-left: 0;
      width: 90px;
      float: initial;
    }
    .input-group{
      width: 100%;
    }
    .btn-primary{
      background-color: #06afe6;
      border-color: #06afe6;
    }
    .pagination>.active>a,
    .pagination>.active>span,
    .pagination>.active>a:hover,
    .pagination>.active>span:hover,
    .pagination>.active>a:focus,
    .pagination>.active>span:focus{
      background-color: #06afe6;
      border-color: #06afe6;
    }
    label{
      color: #777;
    }
    .th-inner{
      color: #777;
    }
    .school_box{
      margin-top: 20px;
    }
    .modal-header{
      background-color: #03ACE3;
      color: #fff;
      height: 40px;
    }
    .modal-title{
      line-height: 10px;
      font-size: 16px;
    }
    .close{
      color: #fff;
      opacity: .9;
      line-height: 0.6;
    }
    .col-md-4{
      padding-right: 10px;
      padding-left: 0px;
    }
    .col-md-6{
      padding-right: 10px;
      padding-left: 0px;
    }
  </style>
</head>

<body>

<div class="main">
  <div class="container-fluid">

    <div class="form-inline" >
      <div class="col-md-12 query_top_box" >

        <div class="form-group">
          <label  for="query_case_number">订购时间：</label>

          <select class="form-control" style="width: 210px;" id="selProvince">
            <option value="0">--请选择省份--</option>
          </select>

        </div>
        <div class="form-group">
          <label class="kong" for="query_case_type">产品名称：</label>

          <select class="form-control" style="width: 210px;" id="selCity">
            <option value="0">--请选择城市--</option>
          </select>

        </div>

        <div class="form-group">
          <label class="kong" for="query_incident_area">学校：</label>

          <select class="form-control" style="width: 210px;" id="selDistrict">
            <option value="0">--请选择区/县--</option>
          </select>

        </div>


        <div class="school_box" >

          <div class="form-group">
            <label class="" for="query_incident_area">用户姓名：</label>

            <input type="text" style="width: 210px" class="form-control" id="query_school_name" placeholder="请输入学校名称">

          </div>

          <div class="form-group">
            <label class="kong" for="query_incident_area">用户手机：</label>

            <input type="text" style="width: 210px" class="form-control" id="query_school_name" placeholder="请输入学校名称">

          </div>

          <button  class="btn btn-primary query_button" id="query_case"><img  src="../images/magnifier.png" class="magnifier_img"/>查询</button>
        </div>



      </div>




    </div>

    <div class="col-md-10 button_top">
      <button type="button" class="btn btn-primary" id="add_school">产品包详情</button>
      <button type="button" class="btn btn-primary" id="edit_school">更改产品包</button>

    </div>

    <div class="col-md-10">
    </div>
    <table id="table">

    </table>

  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="add_school_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加学校</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">省</span>
              <select class="form-control" id="add_selProvince" name="add_selProvince">
                <option value="请选择">请选择</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">市</span>
              <select class="form-control" id="add_selCity" name="add_selCity">
                <option value="请选择">请选择</option>

              </select>

            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">区</span>
              <select class="form-control" id="add_selDistrict" name="add_selDistrict">
                <option value="请选择">请选择</option>

              </select>

            </div>
          </div>
        </div>
        </br>
        <div class="input-group">
          <span class="input-group-addon">学校名称：</span>
          <input type="text" class="form-control"  id="add_school_name" placeholder="请输入学校名称">

        </div>

        </br>

        <div class="input-group">
          <div class="col-md-6">
            <div class="input-group" style="width: 99%;">
              <span class="input-group-addon">学校管理员：</span>
              <input type="text" class="form-control"  id="add_school_admin" placeholder="请输入管理员名字">
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">管理员电话：</span>
              <input type="text" class="form-control"  id="add_school_mobile" placeholder="请输入管理员电话">
            </div>
          </div>
        </div>



      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="add_school_submit">保存</button>
      </div>
    </div>
  </div>
</div>




<!-- Moda2 -->
<div class="modal fade" id="edit_school_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">编辑学校</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">省</span>
              <select class="form-control" id="edit_selProvince" name="edit_selProvince" >
                <option value="请选择">请选择</option>
              </select>

            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">市</span>
              <select class="form-control" id="edit_selCity" name="edit_selCity">
                <option value="请选择">请选择</option>

              </select>

            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">区</span>
              <select class="form-control" id="edit_selDistrict" name="edit_selDistrict">
                <option value="请选择">请选择</option>

              </select>

            </div>
          </div>
        </div>
        </br>
        <div class="input-group">
          <span class="input-group-addon">学校名称：</span>
          <input type="text" class="form-control"  id="edit_school_name" placeholder="请输入学校名称">

        </div>

        </br>

        <div class="input-group">
          <div class="col-md-6">
            <div class="input-group" style="width: 99%;">
              <span class="input-group-addon">学校管理员：</span>
              <input type="text" class="form-control"  id="edit_school_admin" placeholder="请输入学校名称">
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">管理员电话：</span>
              <input type="text" class="form-control"  id="edit_school_mobile" placeholder="请输入学校名称">
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="edit_school_submit">保存</button>
      </div>
    </div>
  </div>
</div>







<input id="box_data" type="hidden"/>
<!---修改ID--->
<input id="edit_box_id" type="hidden"/>

<script type="text/javascript">
  $(function(){
    $.ajax({
      url: '/school/get_schoollist',
      type: 'get',
      dataType: 'json',
      contentType: "application/json",
      data: JSON.stringify({
      }),
      success: function (data) {
        if(data.success==0){
          var jsondata=JSON.parse(JSON.stringify(data));
          alert(JSON.stringify(data));
          var content=jsondata.data.School_List;
          //    alert(JSON.stringify(content));
          $("#box_data").val(JSON.stringify(content));
          table_data();
        }else {
          alert("获取数据失败");
        }

      },
      error: function(){
        alert("获取数据失败");
      }
    });


  });


  $("#query_case").on('click',function(){
    alert("111111");
    var  selProvince=$("#selProvince option:selected").text();
    var  selCity=$("#selCity option:selected").text();
    var  selDistrict=$("#selDistrict  option:selected").text();
    var  query_school_name=$.filterSpaces($("#query_school_name").val());
    if(selProvince.length==0&&selCity.length==0&&selDistrict.length==0&&query_school_name.length==0){
      alert("请输入查询条件");
      return false
    }
    if(selProvince=="--请选择省份--"){
      var query_address="";
    }else if(selCity=="--请选择城市--"){
      var query_address=selProvince;
    }else if(selDistrict=="--请选择区/县--"){
      var query_address=selProvince+selCity;
    }else {
      var query_address=selProvince+selCity+selDistrict;
    }
    alert(query_address);
    alert(query_school_name);
    $('#table').bootstrapTable('destroy');

    $.ajax({
      url: '/school/query_schoollist',
      type: 'post',
      dataType: 'json',
      contentType: "application/json",
      data: JSON.stringify({
        school_position:query_address,
        school_name :query_school_name
      }),

      success: function(data) {
        alert(data);
        if (data.success == 0) {

          alert(data.success);

          var jsondata = JSON.parse(JSON.stringify(data));
          alert(JSON.stringify(data));

        }
      }
    });

  });

  $("#add_school").on('click',function(){
    $('#add_school_modal').modal('show')
  });

  $("#edit_school").on('click',function(){
    var selects = $table.bootstrapTable('getSelections');
    alert(JSON.stringify(selects));
    if(selects.length==0){
      alert("请选择编辑信息");
      return
    }
    $.map(selects, function (row) {
      $("#edit_school_name").val(row.school_name);
      $("#edit_school_admin").val(row.name);
      $("#edit_school_mobile").val(row.phone);
      $("#edit_box_id").val(row.id);
      $("#edit_selProvince option").each(function(){
        if($(this).text() == row.school_position.split(",")[0]){
          $(this).attr("selected","selected");
          var one_val=$(this).val();
        }
        $.each(cityJson, function(k, p) {
          // 直辖市处理.|| p.parent == selValue，直辖市为当前自己
          if (p.id == one_val || p.parent == one_val) {
            var option = "<option value='" + p.id + "'>" + p.city + "</option>";
            $("#edit_selCity").append(option);
          }
        });

      });

      $("#edit_selCity option").each(function(){
        if($(this).text() == row.school_position.split(",")[1]){
          $(this).attr("selected","selected");
          var two_val=$(this).val();
          alert(two_val);
        }
        $.each(countyJson, function(k, p) {
          // 直辖市处理.|| p.parent == selValue，直辖市为当前自己
          if ( p.parent == two_val) {
            var option = "<option value='" + p.id + "'>" + p.county + "</option>";
            $("#edit_selDistrict").append(option);
          }
        });
      });

//            $("#edit_selCity option").each(function(){
//                if($(this).text() == row.school_position.split(",")[1]){
//                    $(this).attr("selected","selected");
//                }
//            });

      $("#edit_selDistrict option").each(function(){
        if($(this).text() == row.school_position.split(",")[2]){
          $(this).attr("selected","selected");
        }
      });

    })
    $('#edit_school_modal').modal('show')
  });


  $("#add_school_submit").on('click',function(){
    var  add_selProvince=$("#add_selProvince option:selected").text();
    var  add_selCity=$("#add_selCity option:selected").text();
    var  add_selDistrict=$("#add_selDistrict option:selected").text();
    var add_school_name=$.filterSpaces($("#add_school_name").val());
    var add_school_admin=$.filterSpaces($("#add_school_admin").val());
    var add_school_mobile=$.filterSpaces($("#add_school_mobile").val());
    var  school_address=add_selProvince+','+add_selCity+','+add_selDistrict;
    alert(school_address);
    if(add_selProvince=="请选择"){
      alert("请输入地址省");
      return
    }
    if(add_selCity=="请选择"){
      alert("请输入地址市");
      return
    }
    if(add_selDistrict=="请选择"){
      alert("请输入地址区");
      return
    }
    if(add_school_name.length==0){
      alert("请输入学校名字");
      return
    }
    if(add_school_admin.length==0){
      alert("请输入管理员名字");
      return
    }
    if(add_school_mobile.length==0){
      alert("请输入管理员手机号");
      return
    }else if($.cell_phone(add_school_mobile)==false){
      alert("输入的手机号格式不正确");
      return
    }


    $.ajax({
      url: '/school/add_school',
      type: 'post',
      dataType: 'json',
      contentType: "application/json",
      data: JSON.stringify({
        school_name:add_school_name,
        school_position:school_address,
        long_latitude_range:"",
        phone:add_school_mobile,
        name:add_school_admin
      }),

      success: function(data) {
        alert(data);
        if (data.success == 0) {
          $('#add_school_modal').modal('hide')
          infolist();
        }
      }
    });

  });


  $("#edit_school_submit").on('click',function(){
    var  edit_selProvince=$("#edit_selProvince option:selected").text();
    var  edit_selCity=$("#edit_selCity option:selected").text();
    var  edit_selDistrict=$("#edit_selDistrict option:selected").text();
    var edit_school_name=$.filterSpaces($("#edit_school_name").val());
    var edit_school_admin=$.filterSpaces($("#edit_school_admin").val());
    var edit_school_mobile=$.filterSpaces($("#edit_school_mobile").val());
    var  edit_school_address=edit_selProvince+','+edit_selCity+','+edit_selDistrict;
    var edit_box_id=$("#edit_box_id").val();
    if(edit_selProvince=="请选择"){
      alert("请输入地址省");
      return
    }
    if(edit_selCity=="请选择"){
      alert("请输入地址市");
      return
    }
    if(edit_selDistrict=="请选择"){
      alert("请输入地址区");
      return
    }
    if(edit_school_name.length==0){
      alert("请输入学校名字");
      return
    }
    if(edit_school_admin.length==0){
      alert("请输入管理员名字");
      return
    }
    if(edit_school_mobile.length==0){
      alert("请输入管理员手机号");
      return
    }else if($.cell_phone(edit_school_mobile)==false){
      alert("输入的手机号格式不正确");
      return
    }
    alert(edit_school_mobile);
    alert(edit_school_admin);
    $.ajax({
      url: '/school/'+edit_box_id+'/modify_school',
      type: 'post',
      dataType: 'json',
      contentType: "application/json",
      data: JSON.stringify({
        school_name:edit_school_name,
        school_position:edit_school_address,
        long_latitude_range:"",
        phone:edit_school_mobile,
        name:edit_school_admin
      }),

      success: function(data) {
        if (data.success == 0) {

          $('#edit_school_modal').modal('hide')
          infolist();

        }
      }
    });

  });

  $("#delete_school").on('click',function(){
    var selects = $table.bootstrapTable('getSelections');

    if(selects.length==0){
      alert("请选择信息");
      return
    }

    $.map(selects, function (row) {
      $.ajax({
        url: '/school/'+row.id+'/delete_school ',
        type: 'delete',
        dataType: 'json',
        contentType: "application/json",
        data: JSON.stringify({

        }),
        success: function(data) {
          if (data.success == 0) {
            $('#delete_school_modal').modal('hide')
            infolist();
          }
        }
      });
    })
  });


  $("#info_school").on('click',function(){
    parent.location.href="/map_school_info";
  });


  function table_data() {
    var table_data = JSON.parse($("#box_data").val());
    // var  table_data=$("box_data").val();
    $table = $('#table').bootstrapTable({

      data: table_data,
      // url: '/table/123',
      // method: 'post',
      dataType: "json",
      //----选填----//
      //设置高度
      height: 500,

      pagination: true,
      pageSize: 10,
      pageList: [5, 10, 15, 20],
      sidePagination: "client",


      pageNumber: 1,
      sortable: true,
      sortOrder: "desc",

      clickToSelect: true,
      striped: true,

      //功能工具
      singleSelect: false,

      searchOnEnterKey: false,

//成功时执行函数
      //       onLoadSuccess:function(data){},
      onLoadSuccess: function (aa, bb, cc) {

      },

      //错误时执行函数
      onLoadError: function (status) {
        alert("错误");
      },


      idField: undefined,
      columns: [
        //附加表头，

        {
          formatter: function (value, row, index) {
            return index + 1;
          }
        },
        {
          //单选
          radio: true,

          //多选
          // checkbox:true,
        },
        {
          title: '订购时间',
          field: 'school_name',
          align: 'center',
          valign: 'middle',
          //  rowspan: 2

        },
        {
          title: '产品名称',
          field: 'school_position',
          align: 'center',
          valign: 'middle',
        },
        {
          title: '用户手机号',
          field: 'name',
          align: 'center',
          valign: 'middle',
        },
        {
          title: '用户姓名',
          field: 'phone',
          align: 'center',
          valign: 'middle',
        },
        {
          title: '学校',
          field: 'long_latitude_range',
          align: 'center',
          valign: 'middle',
          formatter: function (value, row, index) {
//                        var e = '<span>'+JSON.stringify(row.long_latitude_range[0].longitude)+'</span>';
//                        return e
            if (row.long_latitude_range[0].longitude == "") {
              var e = '<a onclick="window_home(&quot;添加坐标&quot;,&quot;/map_add_range?id='+row.id+'&quot;)">添加坐标</a>';
              return e
            }
            if (row.long_latitude_range[0].longitude!="") {
              var e = '<a onclick="window_home(&quot;查看坐标&quot;,&quot;/map_edit_range?id='+row.id+'&quot;)">查看</a>';
              return e
            }
          }
        },
//            {
//                title: '根据数字判状态',
//                field: 'state',
//                align: 'center',
//                valign: 'middle',
//                formatter: function (value, row, index) {
//                    if (row.state == 1) {
//                        var e = '<span style="color: red;">没通过</span>';
//                        return e
//                    }
//                    if (row.state == 2) {
//                        var e = '<span style="color: blue;">已通过</span>;'
//                        return e
//                    }
//                    if (row.state == 3) {
//                        var e = '<span style="color:green;">审核中</span>;'
//                        return e
//                    }
//                }
//
//            },

      ]

    });
  }
</script>
<script type="text/javascript">
  $(function() {
    $.each(provinceJson, function(k, p) {
      var option = "<option value='" + p.id + "'>" + p.province + "</option>";
      $("#selProvince").append(option);
    });
    $("#selProvince").change(function() {
      var selValue = $(this).val();
      $("#selCity option:gt(0)").remove();
      $.each(cityJson, function(k, p) {
        // 直辖市处理.|| p.parent == selValue，直辖市为当前自己
        if (p.id == selValue || p.parent == selValue) {
          var option = "<option value='" + p.id + "'>" + p.city + "</option>";
          $("#selCity").append(option);
        }
      });
    });
    $("#selCity").change(function() {
      var selValue = $(this).val();
      $("#selDistrict option:gt(0)").remove();
      $.each(countyJson, function(k, p) {
        if (p.parent == selValue) {
          var option = "<option value='" + p.id + "'>" + p.county + "</option>";
          $("#selDistrict").append(option);
        }
      });
    });




    $.each(provinceJson, function(k, p) {
      var option = "<option value='" + p.id + "'>" + p.province + "</option>";
      $("#add_selProvince").append(option);
    });
    $("#add_selProvince").change(function() {
      var selValue = $(this).val();
      $("#add_selCity option:gt(0)").remove();
      $.each(cityJson, function(k, p) {
        // 直辖市处理.|| p.parent == selValue，直辖市为当前自己
        if (p.id == selValue || p.parent == selValue) {
          var option = "<option value='" + p.id + "'>" + p.city + "</option>";
          $("#add_selCity").append(option);
        }
      });
    });
    $("#add_selCity").change(function() {
      var selValue = $(this).val();
      $("#add_selDistrict option:gt(0)").remove();
      $.each(countyJson, function(k, p) {
        if (p.parent == selValue) {
          var option = "<option value='" + p.id + "'>" + p.county + "</option>";
          $("#add_selDistrict").append(option);
        }
      });
    });




    $.each(provinceJson, function(k, p) {
      var option = "<option value='" + p.id + "'>" + p.province + "</option>";
      $("#edit_selProvince").append(option);
    });
    $("#edit_selProvince").change(function() {
      var selValue = $(this).val();
      $("#edit_selCity option:gt(0)").remove();
      $.each(cityJson, function(k, p) {
        // 直辖市处理.|| p.parent == selValue，直辖市为当前自己
        if (p.id == selValue || p.parent == selValue) {
          var option = "<option value='" + p.id + "'>" + p.city + "</option>";
          $("#edit_selCity").append(option);
        }
      });
    });
    $("#edit_selCity").change(function() {
      var selValue = $(this).val();
      $("#edit_selDistrict option:gt(0)").remove();
      $.each(countyJson, function(k, p) {
        if (p.parent == selValue) {
          var option = "<option value='" + p.id + "'>" + p.county + "</option>";
          $("#edit_selDistrict").append(option);
        }
      });
    });


  });


  function window_home(title, url){
    parent.addTab(title,url);
  }

  function infolist(){
    $('#table').bootstrapTable('destroy');
    $.ajax({
      url: '/school/get_schoollist',
      type: 'get',
      dataType: 'json',
      contentType: "application/json",
      data: JSON.stringify({
      }),
      success: function (data) {
        if(data.success==0){
          var jsondata=JSON.parse(JSON.stringify(data));
          alert(JSON.stringify(data));
          var content=jsondata.data.School_List;
          //    alert(JSON.stringify(content));
          $("#box_data").val(JSON.stringify(content));
          table_data();
        }else {
          alert("获取数据失败");
        }

      },
      error: function(){
        alert("获取数据失败");
      }
    });
  }


</script>
</body>
</html>
