p{
    font-size: 30px;
}
strong{
    font-size:30px;
}
h1,h2,h3,h4,h5{
    font-size: 30px;
}
span{
    font-size: 30px;
}
a{
    font-size: 30px;
}
img{
    width: 70%;
}
.ke-content{
	font-size: 30px;
	}
img{
    max-width: 600px;
}