p{
    font-size: 60px;
}
strong{
    font-size: 60px;
}
h1,h2,h3,h4,h5{
    font-size: 60px;
}
span{
    font-size: 60px;
}
a{
    font-size: 60px;
}
img{
    width: 120%;
}
.ke-content{
	font-size: 60px;
	}
img{
    max-width: 960px;
}