p{
    font-size: 70px;
}
strong{
    font-size: 70px;
}
h1,h2,h3,h4,h5{
    font-size: 70px;
}
span{
    font-size: 70px;
}
a{
    font-size: 70px;
}
img{
    width: 140%;
}
.ke-content{
	font-size: 70px;
	}
img{
    max-width: 1060px;
}